body{
    margin:0%;
    font-family: 'Fira Sans', sans-serif;
    background-color:#616363;
}
.form-outline{
    margin: 50px;
    border-radius: 5%;
    background-color: #989c9c;
    color: aliceblue;
    padding-bottom: 20px;
}
.head{
    text-align: center;
}
form{
    margin: 50px;
}
.personal{
    border: 1px solid white;
    padding :20px;
}
.personal label{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin: 10px;
    color: aliceblue;
}
.background{
    /* border: 1px solid black; */
    padding: 20px;
}
#submit-button{
    margin-left: 80%;
    margin-top: 20px;
}
